AUTH0_ISSUER_URL=
AUTH0_AUDIENCE=
AUTH0_RESTRICTED_AUDIENCE=
BAMBOO_API_KEY=
NODE_ENV=development
PORT=3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=shoutout_local
POSTGRES_TEST_DB=shoutout_test
POSTGRES_HOST=localhost
POSTGRES_DEFAULT_PORT=5432
POSTGRES_TEST_PORT=5433
SHOUTOUT_CHANNEL_ID=C03HR04D338 # peakon-test-channel
SLACK_APP_TOKEN=
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SYNCHRONIZE=false

# LOG_PATTERN="log messages"
# LOG_PATTERN="log messages-yourname" # Local dev
# SHOUTOUT_PATTERN="shoutout"
# SHOUTOUT_PATTERN="shoutout-yourname" #Local dev
